*{
    margin:0;
    padding:0;
}

html{
    font-size:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#nav{
    display: flex;
    width:100%;
    justify-content: center;
    padding:1.5rem 0;
}

#nav a{
    font-size:2rem;
}

#shows{
    padding-top:4rem;
}

body{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    font-size:5rem;
    padding-bottom: 2rem;
}

table{
    background-color: lightblue;
    padding:3rem;
    border:.4rem solid black;
    border-collapse: collapse;
}

th, tr, td{
    padding:2rem 3rem;
    text-align: center;
}

th{
    font-size:3rem;
    background-color: white;
}

th, tr{
    border-bottom:.3rem solid black;
}

td{
    font-size: 2.5rem;
}

tr:nth-child(even){
    background-color: blanchedalmond;
}

#form{
    display: flex;
    justify-content: space-between;
}

button{
    padding:.2rem .5rem;
    margin:1rem;
    font-size:2rem;
    background-color: white;
    box-shadow: .3rem .3rem #888888
}

button:hover, #add_show_button > a:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

#add_show_button{
    padding:4rem;
    text-align: center;
    font-size:3rem;
}

#add_show_button > a{
    text-decoration: none;
    background-color: white;
    border:.1rem solid gray;
    border-radius: .2rem;
    color:black;
    padding:.5rem 1rem;
    box-shadow: .3rem .3rem #888888
}

#content{
    padding-top:3rem;
}

#edit form{
    display:flex;
    flex-direction: column;
}

#edit a{
    align-self: center;
    font-size:2rem;
}

.label{
    font-weight: bold;
    font-size:3rem;
}

#show_info > p{
    font-size:2rem;
}

#add_show form{
    display: flex;
    flex-direction: column;
}

#add_show button, #edit button{
    width:20%;
    align-self: center;
}

input:last-of-type{
    margin-bottom:1rem;
}

input{
    padding:.5rem;
}