<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="nav">
            <a href="/shows">Back to All Shows</a>
        </div>
        <div id="add_show">
            <h1>Add a New Show</h1>
            {% if messages %}
            <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/shows/create_show" method="POST">
                {% csrf_token %}
                <label class ="label" for="title">Title</label>
                <input name="title" type="text">
                <label class ="label" for="network">Network</label>
                <input name="network" type="text">
                <label class ="label" for="release_date">Release Date</label>
                <input name="release_date" type="date">
                <label class ="label" for="description">Description</label>
                <input name="description" type="text">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>