<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="shows">
            <h1>List of All Shows</h1>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        {% for show in all_the_shows %}
                    <tr>
                        <td>{{show.title}}</td>
                        <td>{{show.network}}</td>
                        <td>{{show.release_date}}</td>
                        <td id="form">
                            <form action="/shows/{{show.id}}" method="POST">
                            {% csrf_token %}
                                <button type="submit">View</button>
                            </form>
                            <form action="/shows/{{show.id}}/edit" method="POST">
                            {% csrf_token %}
                                <button type="submit">Edit</button>
                            </form>
                            <form action="/shows/{{show.id}}/destroy" method="POST">
                            {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="add_show_button">
            <a href="/shows/new_show">Add a New Show</a>
        </div>
    </div>
</body>
</html>