<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{a_show.title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <div id="nav">
        <a href="/shows">Back to All Shows</a>
        </div>
        <div id="content">
            <h1>{{a_show.title}}</h1>
            {% if messages %}
            <div id="messages">
                {% for message in messages %}    
                    <p>{{ message }}</p>    
                {% endfor %}
                {% endif %}
            </div>
            <div id="show_info">
                <p><span class="label">Title: </span>{{a_show.title}}</p>
                <p><span class="label">Network: </span>{{a_show.network}}</p>
                <p><span class="label">Release Date: </span>{{a_show.release_date}}</p>
                <p><span class="label">Description: </span>{{a_show.description}}</p>
                <p><span class="label">Last Updated: </span>{{a_show.updated_at}}</p>
            </div>
            <div id ="edit">                
                <form action="/shows/{{a_show.id}}/edit" method="POST">
                {% csrf_token %}
                    <button type="submit">Edit</button>
                </form>
                <form action="/shows/{{a_show.id}}/destroy" method="POST">
                {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>